**/.git
**/.gitignore
**/README.md
**/.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.log
**/.nyc_output
**/node_modules
**/.npm
**/venv/
**/.venv/
**/db.sqlite3
**/*.db
**/htmlcov/
**/.pytest_cache/
**/tests/
**/.env
**/.env.local
**/.env.*.local 